:root {
  --color-bg: #FFFFFF;
  --color-text: #181818;
  --color-accent:  #3B82F6;
  --color-light-gray: #888888;
}

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}